@import "https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"

*,*::before,*::after
  box-sizing: border-box
  -webkit-box-sizing: border-box

body 
  margin: 0
  background-color: black;
  color: white
  font-family: pt sans, sans-serif
  font-weight: 400
  -webkit-font-smoothing: antialiased
  display: flex
  flex-direction: column
  text-align: center

  .no-transition
    transition: none !important
    
h1
  font-size: 7vw
  text-decoration: bold
  margin: 5px

a
  color: white
  font-size: 24px
  text-decoration: none

p
  font-size: 24px

i
  text-decoration: none
  color: white


section
  display: flex
  flex-direction: column
  justify-content: flex-start
  place-items: center
  border: 1px solid white
  margin: 3vh 5vw
  scroll-margin-top: 2.5vh
  min-height: 95vh
  padding: 20px 20px

#page-container
  position: relative
  min-height: 100vh

#content-wrap
  padding-bottom: 15rem

#content
  top: 100%

@media screen and (min-width: 1180px)
  section
    width: 40vw
    overflow: hidden
    min-height: 30vh
    padding: 10px

  h1
    font-size: 36px

  a
    font-size: 24px

  p
    font-size: 24px

  #content
    display: grid
    justify-content: center
    align-items: center
    justify-items: center
    grid-template-columns: 1fr
