$paddingHeader = 40px

header
  position: fixed
  z-index: 999
  width: 100%
  padding: $paddingHeader
  background-color: transparent

  .nav-toggle
    display: none

  .nav-toggle-label
    position: absolute
    top: 0
    right: 0
    padding: 0 1em 0 1em
    height: 100%
    display: flex
    align-items: center
    background: rgba(0, 0, 0, .7)

    span
      display: block
      background: #fff
      height: 2px
      width: 2em
      border-radius: 2px
      position: relative
      transition: background-color 0.5s

    span::before,
    span::after
      content: ''
      position: absolute
      display: block
      background: #fff
      height: 2px
      width: 2em
      border-radius: 2px
      transition: transform 0.5s, top 0.5s

    span::before
      bottom: 7px
    
    span::after
      top: 7px

  nav
    position: absolute
    text-align: left
    right: 0
    width: 100%
    height: 100vh
    transform-origin: left
    transition: transform 1s ease-in-out
    background: transparent
    display: grid
    align-content: center
    justify-content: center

  nav ul
    margin: 0
    padding: 0
    list-style: none


  nav li
    margin-bottom: 1em
    margin-left: 1em

  nav a
    color: #fff
    text-decoration: none
    font-size: 32px
    text-transform: uppercase
    opacity: 0

  nav a:hover
    color: #fff

  .nav-toggle:checked ~ nav
    transform: scale(1, 1)
    background-color: black

  .nav-toggle:not(:checked) ~ nav
    pointer-events: none   
    

  .nav-toggle:checked ~ nav a
    opacity: 1
    transition: opacity 150ms ease-in-out

  .nav-toggle:checked ~ .nav-toggle-label
    span
      background-color: transparent
    span::before
      top: 50%
      transform: translateY(-50%) rotate(45deg)
    span::after
      top: 50%
      transform: translateY(-50%) rotate(-45deg)

  .container
    position: relative
    top: -($paddingHeader)

@media screen and (min-width: 1180px)
  
  .nav-toggle-label
    margin-left: 2em

  nav
    padding-left: 1em

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after
    display: block
    background: #fff
    height: 3px
    width: 3em
    border-radius: 2px

  .nav-toggle-label span::before
    bottom: 10px

  .nav-toggle-label span::after
    top: 7px
