#reservas
  padding: unset
  border: unset
  margin: unset
  display: flex
  justify-content: flex-start
  height: 100svh
  position: relative

// https://unused-css.com/blog/css-only-background-slider/
  $noOfSlides = 4
  $slideDuration = 5

  .slider
    width: 100%
    height: 100svh
    position: relative
    overflow: hidden
    display: grid
    align-content: center
    justify-content: center

    .slide
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-size: cover
      background-position: center center
      background-blend-mode: multiply
      background-color: rgba(0, 0, 0, .6)
      animation: slide ($slideDuration * $noOfSlides)s infinite

    for num in 1..$noOfSlides
      .slide:nth-of-type({num})
          background-image: linear-gradient(to bottom, transparent 80%, black 100%), url('/imatges/reservas/' + (num) + '.jpg')
          animation-delay: -((num - 1) * $slideDuration)s
  
    @keyframes slide
      0%
        transform: translateX(100%)
        animation-timing-function: ease-in-out
      10%, 25%
        transform: none
      35%
        transform: translateX(-100%)
        animation-timing-function: ease-in-out
      100%
        transform: translateX(-100%)


  .trabajos
    margin: 0px 40px
    position: absolute
    bottom: 0

  .button
    text-decoration: none
    position: relative
    background-color: rgba(0,0,0, .75)
    border: 2px solid white
    color: white
    padding: 25px 125px
    font-size: 24px



@media screen and (min-width: 1180px)
  #reservas
    height: 100vh
    max-width: unset
    width: 100vw

    img
      top: -20%

    p
      font-size: 32px


    .button
      padding: 1.5em 4em
      font-size: 24px

    .button:hover
      background-color: #fff
      color: #000



