#propietario
  padding: 20px 20px 10px
  min-height: 20vh

#propietario img
  width: 77.5vw
  height: 30vh
  border-radius: 10px
  overflow: hidden
  object-fit: cover
  object-position: top

#propietario h1
  text-decoration: unset
  font-size: 24px

#propietario .marco
  background-color: transparent

#propietario .firma
  margin: 0
  padding: 0
  height: 13vh
  width: 42vw
  margin-left: 18vh
  align-self: flex-start
  margin-top: -1vh
  filter: invert(1)
  object-fit: unset
  object-position: unset

@media screen and (min-width: 1180px)
  #propietario
    padding: 20px

  #propietario .marco
    background-color: #ccc
    padding: 20px 0 100px
    border-radius: 10px
    width: 33vw
    height: 63vh

  #propietario img
    width: 30vw
    height: 30vh

  #propietario h1
    font-size: 32px
    color: #000

  #propietario .firma
    height: 140px
    margin-left: 60px
    filter: none

@import "https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
