footer
  padding: 20px 40px
  position: absolute
  bottom: 0
  width: 100%
  height: 15rem


#upper-footer
  display: flex
  flex-direction: column
  align-items: center
  gap: 20px

.mapa
  display: flex
  align-items: center
  justify-content: center

  i
    padding-right: 20px


#social
  display: flex
  flex-direction: column
  align-items: center


  .social-icons
    display: grid
    grid-template-columns: repeat(2, auto)
    justify-content: center
    gap: 20px

    i
      text-decoration: none
      color: #fff

.copyright
  text-align: center
  padding-top: 10px

@media screen and (min-width: 1180px)
  footer
    height: 10rem

  #content-wrap
    padding-bottom: 10rem

  #upper-footer
    flex-direction: row
    justify-content: center
    gap: 3rem
    margin-left: -100px

    &::before
      content: ""
      position: absolute
      width: 1px
      height: 75px
      background-color: #fff
      margin-left: 100px

    i
      transition: transform 0.3s ease-in-out

    i:hover
      transform: scale(1.5)

  .mapa
    justify-content: unset

  #social
    flex-direction: row
    gap: 15px

  .social-icons i
    transition: transform 0.3s ease-in-out

  .social-icons i:hover
    transform: scale(1.5)
